In [1]:
#Importing the libraries
from rake_nltk import Rake
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
#Loading the dataset
df=pd.read_csv('D:netflix_rs/netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
#Removing unnecessary columns
df=df.drop(columns=['show_id','country','date_added','release_year','rating','duration'])
df.head()

,type,title,director,cast,listed_in,description
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",Kids' TV,"With the help of three human allies, the Autob..."
3,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",Kids' TV,When a prison ship crash unleashes hundreds of...
4,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",Comedies,When nerdy high schooler Dani finally attracts...

In [4]:
#Barplot of tv or movies
df['type'].value_counts().plot('bar', figsize=[8,5], fontsize=15, color='navy') #There are a lot more movies than TV shows on Netflix

In [5]:
#Preprocessing the dataframe-(removing stopwords,punctation and lowercase all the letter )
stop = ['ourselves', 'hers', 'between', 'yourself', 'but', 'again', 'there', 'him', 'each', 'the', 'themselves','an','of']
def preprocessdf(d):
    dataf=d.stack().str.replace(pat=r'([.;:!\'?,\"*()\[\]])',repl=' ')
    dataf=d.stack().str.replace(pat=r'(<br\s*/><br\s*/>)|(\-)|(\/)',repl=' ')
    dataf=d.stack().str.lower().unstack()
    dataf=d.stack().replace(to_replace=stop, value=" ",regex=True).unstack()
    return dataf

In [6]:
#Preprocessed dataframe
pdf=preprocessdf(df)
pdf

,type,title,director,cast,listed_in,description
0,Movie,Norm North: King Sized Adventure,"Richard Finn, Tim Maltby","Al Marriott, Andrew Toth, Bri Dobson, Cole H...","Children & Family Movies, Comedies",Before pl ning awesome wedding for his gr df...
1,Movie,J dino: Whatever it Takes,NaN,J dino Asporaat,St d-Up Comedy,J dino Asporaat riffs on challenges raisin...
2,TV Show,Tr sformers Prime,NaN,"Peter Cullen, Sumalee Mont o, Fr k Welker, Jef...",Kids' TV,"With help three hum allies, Autobots on..."
3,TV Show,Tr sformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Const ce Zimmer, K...",Kids' TV,When a prison ship crash unleashes hundreds ...
4,Movie,#realityhigh,Fern do Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",Comedies,When nerdy high schooler D i finally attracts ...
5,TV Show,Apaches,NaN,"Alberto Amm n, Eloy AzorÃ­n, VerÃ³nica Echegui...","Crime TV Shows, International TV Shows, Sp ish...",A young journalist is forced into a life cri...
6,Movie,Automata,Gabe IbÃ¡Ã±ez,"Antonio B deras, Dyl McDermott, Mel ie Griffi...","International Movies, Sci-Fi & F tasy, Thrillers","In a dystopi future, insur ce adjuster for ..."
7,Movie,Fabrizio Cop o: Solo pienso en mi,"Rodrigo Toro, Fr cisco Schultz",Fabrizio Cop o,St d-Up Comedy,Fabrizio Cop o takes audience participation to...
8,TV Show,Fire Chasers,NaN,NaN,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
9,Movie,Good People,Henrik Ruben Genz,"James Fr co, Kate Hudson, Tom Wilkinson, Omar ...","Action & Adventure, Thrillers",A struggling couple c 't believe ir luck when...
10,Movie,JoaquÃ­n Reyes: Una y no mÃ¡s,JosÃ© Miguel Contreras,JoaquÃ­n Reyes,St d-Up Comedy,Comedi d celebrity impersonator JoaquÃ­n Rey...
11,Movie,Kidnapping Mr. Heineken,D iel Alfredson,"Jim Sturgess, Sam Worthington, Ry Kw ten, Ant...","Action & Adventure, Dramas, International Movies","When beer magnate Alfred ""Freddy"" Heineken is ..."
12,Movie,Krish Trish d Baltiboy,NaN,"Dam deep Singh Bagg , Smita Malhotra, Baba Sehgal",Children & Family Movies,"A team minstrels, including a monkey, cat d..."
13,Movie,Krish Trish d Baltiboy: Battle Wits,"Munjal Shr f, Tilak Shetty","Dam deep Singh Bagg , Smita Malhotra, Baba Seh...",Children & Family Movies,"An artis is cheated his payment, a lion h..."
14,Movie,Krish Trish d Baltiboy: Best Friends Forever,"Munjal Shr f, Tilak Shetty","Dam deep Singh Bagg , Smita Malhotra, Deepak C...",Children & Family Movies,"A cat, monkey d donkey team up to narrate fol..."
15,Movie,Krish Trish d Baltiboy: Comics India,Tilak Shetty,"Dam deep Singh Bagg , Smita Malhotra, Baba Sehgal",Children & Family Movies,"In three comic-strip-style tales, a boy tries ..."
16,Movie,Krish Trish d Baltiboy: Oversmartness Never Pays,Tilak Shetty,"Rishi Gambhir, Smita Malhotra, Deepak Chachra",Children & Family Movies,"A cat, monkey d donkey learn consequences ..."
17,Movie,Krish Trish d Baltiboy: Part II,NaN,"Dam deep Singh Bagg , Smita Malhotra, Baba Sehgal",Children & Family Movies,Animal minstrels narrate stories about a monke...
18,Movie,Krish Trish d Baltiboy: The Greatest Trick,"Munjal Shr f, Tilak Shetty","Dam deep Singh Bagg , Smita Malhotra, Baba Sehgal",Children & Family Movies,The consequences trickery are explored in st...
19,Movie,Love,Gaspar NoÃ©,"Karl Glusm , Klara Kristin, Aomi Muyock, Ugo F...","Cult Movies, Dramas, Independent Movies",A m in unsatisfying marriage recalls deta...
20,Movie,M hatt Rom ce,Tom O'Brien,"Tom O'Brien, Ka rine Waterston, Caitlin Fitzge...","Comedies, Independent Movies, Rom tic Movies",A filmmaker working on a documentary about lov...
21,Movie,Moonwalkers,Antoine Bardou-Jacquet,"Ron Perlm , Rupert Grint, Robert Sheeh , Steph...","Action & Adventure, Comedies, International Mo...","A brain-addled war vet, a failing b d m ager ..."
22,Movie,Rolling Papers,Mitch Dickm,NaN,Documentaries,"As newspaper industry takes a hit, The Denve..."
23,Movie,Stonehearst Asylum,Brad Anderson,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...","Horror Movies, Thrillers","In 1899, a young doctor arrives at asylum fo..."
24,Movie,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...","Dramas, Independent Movies",A New Orle s politici finds his idealistic pl...
25,Movie,6 Years,H nah Fidell,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...","Dramas, Independent Movies, Rom tic Movies",As a volatile young couple who have been toge ...
26,TV Show,Castle Stars,NaN,"Chaiyapol Pupart, Jint utda Lummak on, Worrawe...","International TV Shows, Rom tic TV Shows, TV C...",As four couples with different lifestyles go t...
27,Movie,City Joy,Madeleine Gavin,NaN,Documentaries,Women who've been sexually brutalized in war-t...
28,TV Show,First d Last,NaN,NaN,Docuseries,Take intimate look at emotionally charged ...
29,Movie,Laddal d,Sopon Sukdapisit,"Saharat S gkapreecha, Pok Piyatida Woramusik, ...","Horror Movies, International Movies",When a family moves into upscale housing dev...
...,...,...,...,...,...,...
6204,TV Show,Cuckoo,NaN,"Andy Samberg, Taylor Lautner, Greg Davies, Hel...","British TV Shows, International TV Shows, TV C...",Rachel shocks her proper British parents when ...
6205,TV Show,Pororo - The Little Penguin,NaN,NaN,"Kids' TV, Kore TV Shows","On a tiny isl d, Pororo penguin has fun adve..."
6206,TV Show,Sam tha!,NaN,"Emm uelle AraÃºjo, Douglas Silva, Sabrina Nona...","International TV Shows, TV Comedies","A child star in '80s, Sam tha clings to fr..."
6207,TV Show,Murderous Affairs,NaN,NaN,"Crime TV Shows, Docuseries","Mixing interviews with dramatic re-enactments,..."
6208,TV Show,Lost Girl,NaN,"Anna Silk, Kris Holden-Ried, Ksenia Solo, Rich...","TV Dramas, TV Horror, TV Mysteries",Discovering she's a succubus who sustains elf...
6209,TV Show,Mr. Young,NaN,"Brend Meyer, Matreya Fedor, Gig Morton, Kurt ...","Kids' TV, TV Comedies","After Adam graduates from college at age 14, h..."
6210,TV Show,Psiconautas,NaN,"Guillermo Toledo, Gabriel Goity, Florencia PeÃ...","International TV Shows, Sp ish-L guage TV Show...",A Sp ish con m masquerades as a rapist d st...
6211,TV Show,The Minimighty Kids,NaN,NaN,"Kids' TV, TV Comedies","Some have big feet or a sniffly nose, ot are ..."
6212,TV Show,Filinta,NaN,"Onur Tuna, Serhat Tutumluer, Mehmet Ã–zgÃ¼r, N...","Crime TV Shows, International TV Shows, TV Act...","In 19th-century Ist bul, a young police ficer..."
6213,TV Show,Leyla d Mecnun,Onur ÃœnlÃ¼,"Ali Atay, Melis Birk , Serk Keskin, Ahmet MÃ¼...","International TV Shows, Rom tic TV Shows, TV C...",Destiny brings Mecnun d Leyla toge r as newbo...
6214,TV Show,Chelsea,NaN,NaN,"St d-Up Comedy & Talk Shows, TV Comedies","It's not her first talk show, it is a first ..."
6215,TV Show,Crazy Ex-Girlfriend,NaN,"Rachel Bloom, Vincent Rodriguez III, S tino Fo...","Rom tic TV Shows, TV Comedies","Still pining for Josh, boy who dumped her ag..."
6216,TV Show,The Magic School Bus Rides Again,NaN,"Kate McKinnon, Miles Koseleci-Vieira, Mikaela ...",Kids' TV,Ms. Frizzle's kid sister Fiona takes wheel a...
6217,TV Show,New Girl,NaN,"Zooey Desch el, Jake Johnson, Max Greenfield, ...","Rom tic TV Shows, TV Comedies","Still rebounding from a breakup, Jessica Day m..."
6218,TV Show,Talking Tom d Friends,NaN,"Colin H ks, Tom Kenny, James Adomi , Lisa Schw...","Kids' TV, TV Comedies",Full funny one-liners d always ready for ...
6219,TV Show,PokÃ©mon Series,NaN,"Sarah Natochenny, Laurie Hymes, Jessica Paquet...","Anime Series, Kids' TV",Ash d his Pikachu travel to Alola region wi...
6220,TV Show,Justin Time,NaN,"Gage Munroe, Scott McCord, Jenna Warren",Kids' TV,"In Justin's dreams, he d his imaginary friend..."
6221,TV Show,Terrace House: Boys & Girls in City,NaN,"You, Reina Triendl, Ryota Yamasato, Yos i Toku...","International TV Shows, Reality TV",A new set six men d women start ir lives t...
6222,TV Show,Weeds,NaN,"Mary-Louise Parker, Hunter Parrish, Alex der G...","TV Comedies, TV Dramas",A suburb mo r starts selling mariju a to her ...
6223,TV Show,Gunslinger Girl,NaN,"Yuuka N ri, K ako Mitsuhashi, Eri Sendai, Ami ...","Anime Series, Crime TV Shows","On surface, Social Welfare Agency appears ..."
6224,TV Show,Anthony Bourdain: Parts Unknown,NaN,Anthony Bourdain,Docuseries,This CNN original series has chef Anthony Bour...
6225,TV Show,Frasier,NaN,"Kelsey Grammer, J e Leeves, David Hyde Pierce,...","Classic & Cult TV, TV Comedies",Frasier Cr e is a snooty lovable Seattle psy...
6226,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis M uel Ãv...","International TV Shows, Sp ish-L guage TV Show...","This irreverent sitcom featues Ludovico, Feder..."
6227,TV Show,The Adventures Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...","Kids' TV, TV Comedies","Imagine your worst fears, n multiply m: Figa..."
6228,TV Show,Kikoriki,NaN,Igor Dmitriev,Kids' TV,A wacky rabbit d his g g imal pals have fu...
6229,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason SaldaÃ±a, Gustavo Sorola, ...","TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody first-person shooter games, mili..."
6230,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,Movies,Nursery rhymes d original music for children ...
6232,TV Show,A Young Doctor's Notebook d O r Stories,NaN,"D iel Radcliffe, Jon Hamm, Adam Godley, Christ...","British TV Shows, TV Comedies, TV Dramas","Set during Russi Revolution, this comic min..."
6233,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...","Classic & Cult TV, TV Comedies",This hit sitcom follows merry misadventures ...

In [7]:
#Raking the plot description for key phrases
import sys
reload(sys)
sys.setdefaultencoding('utf-8')
rdf=[]
for x in pdf['description']:
    r = Rake()

    # Extraction given the list of strings where each string is a sentence.
    r.extract_keywords_from_text(x)
    
    # To get keyword phrases ranked highest to lowest.
    r.get_ranked_phrases()
    rdf.append(r.get_ranked_phrases())
print rdf

In [8]:
#Adding the raked plot description to the dataframe
rake=(zip(rdf))
radf=pd.DataFrame(rake,columns=['Rdescription'])
radf['Rdescription']=radf['Rdescription'].str.get(0)
pdfs=pd.concat([pdf,radf],axis=1)
print display(pdfs)

,type,title,director,cast,listed_in,description,Rdescription
0,Movie,Norm North: King Sized Adventure,"Richard Finn, Tim Maltby","Al Marriott, Andrew Toth, Bri Dobson, Cole H...","Children & Family Movies, Comedies",Before pl ning awesome wedding for his gr df...,polar bear king must take back
1,Movie,J dino: Whatever it Takes,NaN,J dino Asporaat,St d-Up Comedy,J dino Asporaat riffs on challenges raisin...,j dino asporaat riffs
2,TV Show,Tr sformers Prime,NaN,"Peter Cullen, Sumalee Mont o, Fr k Welker, Jef...",Kids' TV,"With help three hum allies, Autobots on...",help three hum allies
3,TV Show,Tr sformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Const ce Zimmer, K...",Kids' TV,When a prison ship crash unleashes hundreds ...,prison ship crash unleashes hundreds decepticons
4,Movie,#realityhigh,Fern do Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",Comedies,When nerdy high schooler D i finally attracts ...,social media celebrity
5,TV Show,Apaches,NaN,"Alberto Amm n, Eloy AzorÃ­n, VerÃ³nica Echegui...","Crime TV Shows, International TV Shows, Sp ish...",A young journalist is forced into a life cri...,miguel s� � � � ez carral
6,Movie,Automata,Gabe IbÃ¡Ã±ez,"Antonio B deras, Dyl McDermott, Mel ie Griffi...","International Movies, Sci-Fi & F tasy, Thrillers","In a dystopi future, insur ce adjuster for ...",insur ce adjuster
7,Movie,Fabrizio Cop o: Solo pienso en mi,"Rodrigo Toro, Fr cisco Schultz",Fabrizio Cop o,St d-Up Comedy,Fabrizio Cop o takes audience participation to...,takes audience participation
8,TV Show,Fire Chasers,NaN,NaN,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ...",brave backcountry firefighters race
9,Movie,Good People,Henrik Ruben Genz,"James Fr co, Kate Hudson, Tom Wilkinson, Omar ...","Action & Adventure, Thrillers",A struggling couple c 't believe ir luck when...,struggling couple c
10,Movie,JoaquÃ­n Reyes: Una y no mÃ¡s,JosÃ© Miguel Contreras,JoaquÃ­n Reyes,St d-Up Comedy,Comedi d celebrity impersonator JoaquÃ­n Rey...,celebrity impersonator joaqu� � � � n reyes de...
11,Movie,Kidnapping Mr. Heineken,D iel Alfredson,"Jim Sturgess, Sam Worthington, Ry Kw ten, Ant...","Action & Adventure, Dramas, International Movies","When beer magnate Alfred ""Freddy"" Heineken is ...",abductors make largest r som dem
12,Movie,Krish Trish d Baltiboy,NaN,"Dam deep Singh Bagg , Smita Malhotra, Baba Sehgal",Children & Family Movies,"A team minstrels, including a monkey, cat d...",indi regions rajasth
13,Movie,Krish Trish d Baltiboy: Battle Wits,"Munjal Shr f, Tilak Shetty","Dam deep Singh Bagg , Smita Malhotra, Baba Seh...",Children & Family Movies,"An artis is cheated his payment, a lion h...",se three stories deception
14,Movie,Krish Trish d Baltiboy: Best Friends Forever,"Munjal Shr f, Tilak Shetty","Dam deep Singh Bagg , Smita Malhotra, Deepak C...",Children & Family Movies,"A cat, monkey d donkey team up to narrate fol...",indi regions bihar
15,Movie,Krish Trish d Baltiboy: Comics India,Tilak Shetty,"Dam deep Singh Bagg , Smita Malhotra, Baba Sehgal",Children & Family Movies,"In three comic-strip-style tales, a boy tries ...",king assigns impossible tasks
16,Movie,Krish Trish d Baltiboy: Oversmartness Never Pays,Tilak Shetty,"Rishi Gambhir, Smita Malhotra, Deepak Chachra",Children & Family Movies,"A cat, monkey d donkey learn consequences ...",donkey learn consequences cheating
17,Movie,Krish Trish d Baltiboy: Part II,NaN,"Dam deep Singh Bagg , Smita Malhotra, Baba Sehgal",Children & Family Movies,Animal minstrels narrate stories about a monke...,animal minstrels narrate stories
18,Movie,Krish Trish d Baltiboy: The Greatest Trick,"Munjal Shr f, Tilak Shetty","Dam deep Singh Bagg , Smita Malhotra, Baba Sehgal",Children & Family Movies,The consequences trickery are explored in st...,stories involving inconsiderate husb
19,Movie,Love,Gaspar NoÃ©,"Karl Glusm , Klara Kristin, Aomi Muyock, Ugo F...","Cult Movies, Dramas, Independent Movies",A m in unsatisfying marriage recalls deta...,unsatisfying marriage recalls details intense ...
20,Movie,M hatt Rom ce,Tom O'Brien,"Tom O'Brien, Ka rine Waterston, Caitlin Fitzge...","Comedies, Independent Movies, Rom tic Movies",A filmmaker working on a documentary about lov...,hatt becomes personally ent gled
21,Movie,Moonwalkers,Antoine Bardou-Jacquet,"Ron Perlm , Rupert Grint, Robert Sheeh , Steph...","Action & Adventure, Comedies, International Mo...","A brain-addled war vet, a failing b d m ager ...",st ley kubrick impersonator help cia construct...
22,Movie,Rolling Papers,Mitch Dickm,NaN,Documentaries,"As newspaper industry takes a hit, The Denve...",denver post breaks new ground
23,Movie,Stonehearst Asylum,Brad Anderson,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...","Horror Movies, Thrillers","In 1899, a young doctor arrives at asylum fo...",young doctor arrives
24,Movie,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...","Dramas, Independent Movies",A New Orle s politici finds his idealistic pl...,toxic oil spill unraveling th ks
25,Movie,6 Years,H nah Fidell,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...","Dramas, Independent Movies, Rom tic Movies",As a volatile young couple who have been toge ...,unexpected career opportunities threaten ir fu...
26,TV Show,Castle Stars,NaN,"Chaiyapol Pupart, Jint utda Lummak on, Worrawe...","International TV Shows, Rom tic TV Shows, TV C...",As four couples with different lifestyles go t...,different lifestyles go
27,Movie,City Joy,Madeleine Gavin,NaN,Documentaries,Women who've been sexually brutalized in war-t...,torn congo begin
28,TV Show,First d Last,NaN,NaN,Docuseries,Take intimate look at emotionally charged ...,take intimate look
29,Movie,Laddal d,Sopon Sukdapisit,"Saharat S gkapreecha, Pok Piyatida Woramusik, ...","Horror Movies, International Movies",When a family moves into upscale housing dev...,series par ormal events
...,...,...,...,...,...,...,...
6204,TV Show,Cuckoo,NaN,"Andy Samberg, Taylor Lautner, Greg Davies, Hel...","British TV Shows, International TV Shows, TV C...",Rachel shocks her proper British parents when ...,proper british parents
6205,TV Show,Pororo - The Little Penguin,NaN,NaN,"Kids' TV, Kore TV Shows","On a tiny isl d, Pororo penguin has fun adve...",poby polar bear
6206,TV Show,Sam tha!,NaN,"Emm uelle AraÃºjo, Douglas Silva, Sabrina Nona...","International TV Shows, TV Comedies","A child star in '80s, Sam tha clings to fr...",sam tha clings
6207,TV Show,Murderous Affairs,NaN,NaN,"Crime TV Shows, Docuseries","Mixing interviews with dramatic re-enactments,...",lethal love affairs
6208,TV Show,Lost Girl,NaN,"Anna Silk, Kris Holden-Ried, Ksenia Solo, Rich...","TV Dramas, TV Horror, TV Mysteries",Discovering she's a succubus who sustains elf...,sexual energy hum
6209,TV Show,Mr. Young,NaN,"Brend Meyer, Matreya Fedor, Gig Morton, Kurt ...","Kids' TV, TV Comedies","After Adam graduates from college at age 14, h...",high school
6210,TV Show,Psiconautas,NaN,"Guillermo Toledo, Gabriel Goity, Florencia PeÃ...","International TV Shows, Sp ish-L guage TV Show...",A Sp ish con m masquerades as a rapist d st...,starts leading group sessions
6211,TV Show,The Minimighty Kids,NaN,NaN,"Kids' TV, TV Comedies","Some have big feet or a sniffly nose, ot are ...",sweaty � � � �� � �� se kids soon discover ir ...
6212,TV Show,Filinta,NaN,"Onur Tuna, Serhat Tutumluer, Mehmet Ã–zgÃ¼r, N...","Crime TV Shows, International TV Shows, TV Act...","In 19th-century Ist bul, a young police ficer...",young police ficer investigates crimes
6213,TV Show,Leyla d Mecnun,Onur ÃœnlÃ¼,"Ali Atay, Melis Birk , Serk Keskin, Ahmet MÃ¼...","International TV Shows, Rom tic TV Shows, TV C...",Destiny brings Mecnun d Leyla toge r as newbo...,despite unexpected turns
6214,TV Show,Chelsea,NaN,NaN,"St d-Up Comedy & Talk Shows, TV Comedies","It's not her first talk show, it is a first ...",first talk show
6215,TV Show,Crazy Ex-Girlfriend,NaN,"Rachel Bloom, Vincent Rodriguez III, S tino Fo...","Rom tic TV Shows, TV Comedies","Still pining for Josh, boy who dumped her ag...",smart lawyer rebecca jettisons
6216,TV Show,The Magic School Bus Rides Again,NaN,"Kate McKinnon, Miles Koseleci-Vieira, Mikaela ...",Kids' TV,Ms. Frizzle's kid sister Fiona takes wheel a...,kid sister fiona takes wheel
6217,TV Show,New Girl,NaN,"Zooey Desch el, Jake Johnson, Max Greenfield, ...","Rom tic TV Shows, TV Comedies","Still rebounding from a breakup, Jessica Day m...",three single guys
6218,TV Show,Talking Tom d Friends,NaN,"Colin H ks, Tom Kenny, James Adomi , Lisa Schw...","Kids' TV, TV Comedies",Full funny one-liners d always ready for ...,equally chatty imal cohorts set
6219,TV Show,PokÃ©mon Series,NaN,"Sarah Natochenny, Laurie Hymes, Jessica Paquet...","Anime Series, Kids' TV",Ash d his Pikachu travel to Alola region wi...,pok� � � � mon school
6220,TV Show,Justin Time,NaN,"Gage Munroe, Scott McCord, Jenna Warren",Kids' TV,"In Justin's dreams, he d his imaginary friend...",squidgy travel around world learning
6221,TV Show,Terrace House: Boys & Girls in City,NaN,"You, Reina Triendl, Ryota Yamasato, Yos i Toku...","International TV Shows, Reality TV",A new set six men d women start ir lives t...,women start ir lives toge r
6222,TV Show,Weeds,NaN,"Mary-Louise Parker, Hunter Parrish, Alex der G...","TV Comedies, TV Dramas",A suburb mo r starts selling mariju a to her ...,suburb mo r starts selling mariju
6223,TV Show,Gunslinger Girl,NaN,"Yuuka N ri, K ako Mitsuhashi, Eri Sendai, Ami ...","Anime Series, Crime TV Shows","On surface, Social Welfare Agency appears ...",social welfare agency appears
6224,TV Show,Anthony Bourdain: Parts Unknown,NaN,Anthony Bourdain,Docuseries,This CNN original series has chef Anthony Bour...,extraordinary locations around globe
6225,TV Show,Frasier,NaN,"Kelsey Grammer, J e Leeves, David Hyde Pierce,...","Classic & Cult TV, TV Comedies",Frasier Cr e is a snooty lovable Seattle psy...,snooty lovable seattle psychiatrist
6226,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis M uel Ãv...","International TV Shows, Sp ish-L guage TV Show...","This irreverent sitcom featues Ludovico, Feder...",irreverent sitcom featues ludovico
6227,TV Show,The Adventures Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...","Kids' TV, TV Comedies","Imagine your worst fears, n multiply m: Figa...",imaginative way dealing
6228,TV Show,Kikoriki,NaN,Igor Dmitriev,Kids' TV,A wacky rabbit d his g g imal pals have fu...,g g imal pals
6229,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason SaldaÃ±a, Gustavo Sorola, ...","TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody first-person shooter games, mili...",person shooter games
6230,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",interviews fellow comedi
6231,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,Movies,Nursery rhymes d original music for children ...,playful imation engage
6232,TV Show,A Young Doctor's Notebook d O r Stories,NaN,"D iel Radcliffe, Jon Hamm, Adam Godley, Christ...","British TV Shows, TV Comedies, TV Dramas","Set during Russi Revolution, this comic min...",early career working
6233,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...","Classic & Cult TV, TV Comedies",This hit sitcom follows merry misadventures ...,hit sitcom follows merry misadventures six 20

In [9]:
#Creating the bag of words
def bagofwords(tdf):
    bowl=[]
    for x in tdf:
        try:
            tds=(''.join(x.split()))
            tsc=tds.replace(',',' ')
            bowl.append(tsc)
        except:
            bowl.append('NaN')
        
    bowl=(bowl)
    return bowl

In [10]:
tr=bagofwords(pdfs['director'])
tt=bagofwords(pdfs['cast'])
ts=bagofwords(pdfs['listed_in'])
tu=(pdfs['Rdescription'])

In [11]:
#Getting bag of words and title of the tv show/movie together for the similiarity matrix.
gt=[]
for a,b,c,d in zip(tr,tt,ts,tu):
    gt.append(a + '' + b +'' + c + '' + d.decode('latin-1'))
gtr=pd.DataFrame(gt,columns=['bow'])    
#print display(gtr)
tbow=pd.concat([pdfs['title'],gtr],axis=1)
print display(tbow)

,title,bow
0,Norm North: King Sized Adventure,RichardFinn TimMaltbyAlMarriott AndrewToth Bri...
1,J dino: Whatever it Takes,NaNJdinoAsporaatStd-UpComedyj dino asporaat riffs
2,Tr sformers Prime,NaNPeterCullen SumaleeMonto FrkWelker JeffreyC...
3,Tr sformers: Robots in Disguise,NaNWillFriedle DarrenCriss ConstceZimmer Khary...
4,#realityhigh,FerndoLebrijaNestaCooper KateWalsh JohnMichael...
5,Apaches,NaNAlbertoAmmn EloyAzorÃ­n VerÃ³nicaEchegui Lu...
6,Automata,GabeIbÃ¡Ã±ezAntonioBderas DylMcDermott MelieGr...
7,Fabrizio Cop o: Solo pienso en mi,RodrigoToro FrciscoSchultzFabrizioCopoStd-UpCo...
8,Fire Chasers,NaNNaNDocuseries Science&NatureTVbrave backcou...
9,Good People,HenrikRubenGenzJamesFrco KateHudson TomWilkins...
10,JoaquÃ­n Reyes: Una y no mÃ¡s,JosÃ©MiguelContrerasJoaquÃ­nReyesStd-UpComedyc...
11,Kidnapping Mr. Heineken,DielAlfredsonJimSturgess SamWorthington RyKwte...
12,Krish Trish d Baltiboy,NaNDamdeepSinghBagg SmitaMalhotra BabaSehgalCh...
13,Krish Trish d Baltiboy: Battle Wits,MunjalShrf TilakShettyDamdeepSinghBagg SmitaMa...
14,Krish Trish d Baltiboy: Best Friends Forever,MunjalShrf TilakShettyDamdeepSinghBagg SmitaMa...
15,Krish Trish d Baltiboy: Comics India,TilakShettyDamdeepSinghBagg SmitaMalhotra Baba...
16,Krish Trish d Baltiboy: Oversmartness Never Pays,TilakShettyRishiGambhir SmitaMalhotra DeepakCh...
17,Krish Trish d Baltiboy: Part II,NaNDamdeepSinghBagg SmitaMalhotra BabaSehgalCh...
18,Krish Trish d Baltiboy: The Greatest Trick,MunjalShrf TilakShettyDamdeepSinghBagg SmitaMa...
19,Love,GasparNoÃ©KarlGlusm KlaraKristin AomiMuyock Ug...
20,M hatt Rom ce,TomO'BrienTomO'Brien KarineWaterston CaitlinFi...
21,Moonwalkers,AntoineBardou-JacquetRonPerlm RupertGrint Robe...
22,Rolling Papers,MitchDickmNaNDocumentariesdenver post breaks n...
23,Stonehearst Asylum,BradAndersonKateBeckinsale JimSturgess DavidTh...
24,The Runner,AustinStarkNicolasCage SarahPaulson ConnieNiel...
25,6 Years,HnahFidellTaissaFarmiga BenRosenfield LindsayB...
26,Castle Stars,NaNChaiyapolPupart JintutdaLummakon WorrawechD...
27,City Joy,MadeleineGavinNaNDocumentariestorn congo begin
28,First d Last,NaNNaNDocuseriestake intimate look
29,Laddal d,SoponSukdapisitSaharatSgkapreecha PokPiyatidaW...
...,...,...
6204,Cuckoo,NaNAndySamberg TaylorLautner GregDavies HelenB...
6205,Pororo - The Little Penguin,NaNNaNKids'TV KoreTVShowspoby polar bear
6206,Sam tha!,NaNEmmuelleAraÃºjo DouglasSilva SabrinaNonata ...
6207,Murderous Affairs,NaNNaNCrimeTVShows Docuserieslethal love affairs
6208,Lost Girl,NaNAnnaSilk KrisHolden-Ried KseniaSolo Richard...
6209,Mr. Young,NaNBrendMeyer MatreyaFedor GigMorton KurtOstlu...
6210,Psiconautas,NaNGuillermoToledo GabrielGoity FlorenciaPeÃ±a...
6211,The Minimighty Kids,NaNNaNKids'TV TVComediessweaty Ã ¢ â ¬ â  s...
6212,Filinta,NaNOnurTuna SerhatTutumluer MehmetÃ–zgÃ¼r NazE...
6213,Leyla d Mecnun,OnurÃœnlÃ¼AliAtay MelisBirk SerkKeskin AhmetMÃ...
6214,Chelsea,NaNNaNStd-UpComedy&TalkShows TVComediesfirst t...
6215,Crazy Ex-Girlfriend,NaNRachelBloom VincentRodriguezIII StinoFonta ...
6216,The Magic School Bus Rides Again,NaNKateMcKinnon MilesKoseleci-Vieira MikaelaBl...
6217,New Girl,NaNZooeyDeschel JakeJohnson MaxGreenfield Hnah...
6218,Talking Tom d Friends,NaNColinHks TomKenny JamesAdomi LisaSchwartz M...
6219,PokÃ©mon Series,NaNSarahNatochenny LaurieHymes JessicaPaquet R...
6220,Justin Time,NaNGageMunroe ScottMcCord JennaWarrenKids'TVsq...
6221,Terrace House: Boys & Girls in City,NaNYou ReinaTriendl RyotaYamasato YosiTokui Az...
6222,Weeds,NaNMary-LouiseParker HunterParrish AlexderGoul...
6223,Gunslinger Girl,NaNYuukaNri KakoMitsuhashi EriSendai AmiKosizu...
6224,Anthony Bourdain: Parts Unknown,NaNAnthonyBourdainDocuseriesextraordinary loca...
6225,Frasier,NaNKelseyGrammer JeLeeves DavidHydePierce Peri...
6226,La Familia P. Luche,NaNEugenioDerbez ConsueloDuval LuisMuelÃvila ...
6227,The Adventures Figaro Pho,NaNLukeJurevicius CraigBehenna CharlotteHamlyn...
6228,Kikoriki,NaNIgorDmitrievKids'TVg g imal pals
6229,Red vs. Blue,NaNBurnieBurns JasonSaldaÃ±a GustavoSorola Gef...
6230,Maron,NaNMarcMaron JuddHirsch JoshBrener NoraZehetne...
6231,Little Baby Bum: Nursery Rhyme Friends,NaNNaNMoviesplayful imation engage
6232,A Young Doctor's Notebook d O r Stories,NaNDielRadcliffe JonHamm AdamGodley Christophe...
6233,Friends,NaNJenniferAniston CourteneyCox LisaKudrow Mat...

In [12]:
#TFIDF vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(tbow['bow'])

#Getting the cosine similairity
cosinematrix=(cosine_similarity(tfidf_matrix, tfidf_matrix))
cosine1=pd.DataFrame(cosinematrix)
print display(cosine1)

,0,1,2,3,4,5,6,7,8,9,...,6224,6225,6226,6227,6228,6229,6230,6231,6232,6233
0,1.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1,0.000000,1.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2,0.000000,0.0,1.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
3,0.000000,0.0,0.000000,1.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
4,0.000000,0.0,0.000000,0.0,1.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
5,0.000000,0.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.026876,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6,0.000000,0.0,0.000000,0.0,0.0,0.000000,1.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.015718,0.0,0.0,0.000000,0.000000
7,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,1.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
8,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,1.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
9,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.010307,0.0,0.0,0.000000,0.000000
10,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
11,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.011043,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.010263,0.0,0.0,0.000000,0.000000
12,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
13,0.000000,0.0,0.046243,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
14,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
15,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
16,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
17,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
18,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
19,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
20,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
21,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.009616,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.008936,0.0,0.0,0.000000,0.000000
22,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
23,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
24,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.043096,0.000000
26,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
27,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
28,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
29,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6204,0.000000,0.0,0.000000,0.0,0.0,0.021038,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6205,0.111258,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.050700,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6206,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6207,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6208,0.000000,0.0,0.044066,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6209,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.034424,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6210,0.000000,0.0,0.000000,0.0,0.0,0.027809,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.058774,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6211,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.035304,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6212,0.000000,0.0,0.000000,0.0,0.0,0.016561,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6213,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6214,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6215,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6216,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6217,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6218,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.031281,0.130321,0.000000,0.0,0.0,0.000000,0.000000
6219,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6220,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.108581,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6221,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6222,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6223,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6224,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6225,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.049162
6226,0.000000,0.0,0.000000,0.0,0.0,0.026876,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.060521
6227,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6228,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000
6229,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.015718,0.0,0.0,0.010307,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.030909,0.000000
6230,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.000000,0.000000
6231,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.000000,0.000000
6232,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.030909,0.0,0.0,1.000000,0.000000
6233,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.049162,0.060521,0.000000,0.000000,0.000000,0.0,0.0,0.000000,1.000000

In [13]:
#Making a Recommender function with user inputted answers
titles=df['title']
#The recommender function to select top 10 most similiar movies/tv shows
def recommend():
    ri1=raw_input('Type a movie or tv show to get a recommendation ')
    ri2=raw_input('Select type to recommend (Movie,TV Show) ')
    
    if ri1  in (list(df['title'])) and ri2 =='TV Show' or ri2=='Movie':
        cos=cosine1
        num=df.loc[titles==ri1].index.values[0]#tvom
        top10=(titles[cos[num].nlargest(51).reset_index()['index']])
        top10=top10.iloc[1:51]
        filt=df.merge(top10,on='title')
        filt=filt[filt['type']==ri2]#ty
        recom=filt.iloc[1:11].reset_index()
        recom=recom.drop(['index','listed_in','director','cast'],axis=1)
        recoms=recom
        print display('Here are my recommendation for TV shows or movies for you to view based on similiarity')
        return display(recoms)     
    else:
        if ri1 not in (list(df['title'])) or ri2 !='TV Show' or ri2!= 'Movie':
            print display('It is not in the database or please check your spelling. Try again')
        ri1=raw_input('Type a movie or tv show to get a recommendation ')
        ri2=raw_input('Select type (Movie,TV Show) ')
        cos=cosine1
        num=df.loc[titles==ri1].index.values[0]
        top10=(titles[cos[num].nlargest(51).reset_index()['index']])
        top10=top10.iloc[1:51]
        filt=df.merge(top10,on='title')
        filt=filt[filt['type']==ri2]
        recom=filt.iloc[1:11].reset_index()
        recom=recom.drop(['index','listed_in','director','cast'],axis=1)
        recoms=recom
        print display('Here are my recommendation for TV shows or movies for you to view based on similiarity')
        return display(recoms)

In [14]:
recommend()

Type a movie or tv show to get a recommendation Narcos
Select type to recommend (Movie,TV Show) TV Show

'Here are my recommendation for TV shows or movies for you to view based on similiarity'

,type,title,description
0,TV Show,Unbelievable,After a young woman is accused of lying about ...
1,TV Show,"Breakfast, Lunch & Dinner",Chef David Chang takes his insatiable curiosit...
2,TV Show,Narcos: Mexico,Witness the birth of the Mexican drug war in t...
3,TV Show,Miss Dynamite,"Wealthy, beautiful Valentina falls in love, on..."
4,TV Show,Dandy,A law professor is enlisted by Mexico's attorn...
5,TV Show,La Viuda Negra,"Beautiful and ruthless Griselda Blanco, known ..."
6,TV Show,DueÃ±os del paraÃ­so,When Anastasia Cardona's drug lord husband is ...
7,TV Show,Ugly Delicious,All the flavor. None of the BS. Star chef Davi...
8,TV Show,El Cartel,One man makes a fateful decision to get involv...
9,TV Show,El Cartel 2,Drug trafficker Pepe Cadena navigates the trea...

In [15]:
recommend()

Type a movie or tv show to get a recommendation Altered Carbon
Select type to recommend (Movie,TV Show) TV Show

'Here are my recommendation for TV shows or movies for you to view based on similiarity'

,type,title,description
0,TV Show,"Breakfast, Lunch & Dinner",Chef David Chang takes his insatiable curiosit...
1,TV Show,Nature's Great Events (2009),This series looks at how seasonal changes caus...
2,TV Show,What If?,Four individuals at a crossroads in life are g...
3,TV Show,All Hail King Julien: Exiled,"Julien's been dethroned, but loyal friends and..."
4,TV Show,Somewhere Between,A local news producer is given one chance to r...
5,TV Show,Ugly Delicious,All the flavor. None of the BS. Star chef Davi...
6,TV Show,Fast & Furious Spy Racers,A government agency recruits teen driver Tony ...
7,TV Show,Our Planet,Experience our planet's natural beauty and exa...
8,TV Show,Marvel's Iron Fist,Danny Rand resurfaces 15 years after being pre...
9,TV Show,Person of Interest,Ex-CIA agent John Reese and enigmatic billiona...

In [16]:
recommend()

Type a movie or tv show to get a recommendation Black Panther
Select type to recommend (Movie,TV Show) Movie

'Here are my recommendation for TV shows or movies for you to view based on similiarity'

,type,title,description
0,Movie,13TH,"In this thought-provoking documentary, scholar..."
1,Movie,Derren Brown: Sacrifice,Illusionist Derren Brown concocts a psychologi...
2,Movie,Men in Black II,Will Smith and Tommy Lee Jones reprise their r...
3,Movie,Supergirl,"When she loses her city's vital power supply, ..."
4,Movie,Muran,When jingle composer Nanda's car breaks down o...
5,Movie,The Score,"Ready-to-retire safecracker Nick, flamboyant f..."
6,Movie,Be Somebody,"To escape the stress of fame, teen pop star Jo..."
7,Movie,The Adventures of Tintin,This 3-D motion capture adapts Georges Remi's ...
8,Movie,Enter the Dragon,"Recruited by a British agent, Shaolin master L..."
9,Movie,Mutiny on the Bounty,Marlon Brando gives a nuanced performance as t...

In [17]:
recommend()

Type a movie or tv show to get a recommendation Men in Black
Select type to recommend (Movie,TV Show) Movie

'Here are my recommendation for TV shows or movies for you to view based on similiarity'

,type,title,description
0,Movie,Bitcoin Heist,"A unconventional, efficient Interpol special a..."
1,Movie,Private Life,"Struggling to conceive, a couple in their 40s ..."
2,Movie,Incoming,When an imprisoned terrorist cell hijacks a hi...
3,Movie,Scorpion King 5: Book of Souls,The Scorpion King joins forces with a Nubian p...
4,Movie,Men in Black II,Will Smith and Tommy Lee Jones reprise their r...
5,Movie,Supergirl,"When she loses her city's vital power supply, ..."
6,Movie,Superman Returns,"When Superman returns to Metropolis, he finds ..."
7,Movie,The Bounty Hunter,Bounty hunter Milo Boyd finds his latest assig...
8,Movie,Brooklyn's Finest,Three cops find themselves hurtling toward the...
9,Movie,Phantom Boy,A boy whose illness allows him to float outsid...